.container {
  display: flex;
  justify-content: space-between;
}
.buttonleft {
  margin-right: 20px;
  width: 50px;
  border: none;
  padding: 3px;
  background-color: #c0d6df;
  cursor: pointer;
  border-radius: 5px;
}

.buttonright {
  width: 50px;
  border: none;
  padding: 3px;
  background-color: #c0d6df;
  cursor: pointer;
  border-radius: 5px;
}

.buttonright:disabled {
  background-color: transparent;
  cursor: not-allowed;
}
.buttonleft:disabled {
  background-color: transparent;
  cursor: not-allowed;
}
