.container {
}

.layout {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.title {
  color: aqua;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  overflow: hidden;
}

@media screen and (max-width: 1536px) {
  .posts {
    gap: 20px;
  }
}
